.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base.ow-button-align-left {
    text-align: left;
  }
  .so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base.ow-button-align-left.ow-button-align-justify a {
    display: inline-block;
  }
}
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  font-size: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #00305a;
  color: #00305a !important;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base a:active,
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-wire-99aec8dbcb8b-71 .ow-button-base a.ow-button-hover:hover {
  background: #00305a;
  border-color: #00305a;
}