@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
.form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #0b5ed7;
}
.form-nav img {
  width: 150px;
}
.form-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.heading {
  text-align: center;
  margin: 20px 0;
  padding: 1rem;
}
.heading h1 {
  color: #0b5ed7;
  font-family: "monteserrat", sans-serif;
}
form {
  background: whitesmoke;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
input {
  width: 100%;
  margin-top: 0.2rem;
  padding: 10px;
  border-radius: 10px;
}

input:last-child {
  margin-top: 1rem;
  background-color: #0b5ed7;
  color: white;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.name-err,
.email-err,
.phone-err,
.matric-err,
.school-err,
.department-err,
.level-err {
  width: 100%;
  color: crimson;
  font-size: 10px;
  font-style: italic;
  padding: 5px 0;
}
#footer-section {
  padding: 2rem 1rem;
  background-color: white;
}
#footer-section h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2%;
  text-align: center;
}
#social-links {
  list-style-type: none;
}
#social-links .nav-item {
  margin: 0 0.7rem;
}
#social-links .nav-item .nav-link i {
  font-size: 2rem;
  color: white;
  transition: 0.3s ease-in;
}
#social-links .nav-item .nav-link i:hover {
  transform: scale(1.2);
}
#footer-section {
  margin-top: 3rem;
}
#footer-content {
  margin-top: 2rem;
}
#footer-section {
  background-color: #001775;
}
#footer-section h1 {
  color: white;
  font-family: "poppins", sans-serif;
}
#location h3 {
  font-size: 1.5rem;
  color: white;
}
#location p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: whitesmoke;
  font-family: "Lexend Deca", sans-serif;
}

@media (min-width: 350px) and (max-width: 768px) {
  form {
    width: 90%;
  }
}
